.container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows:  auto;
    grid-column-gap:10px;
    grid-row-gap: 10px;
    
}

.a{
    background-color: rgb(236, 233, 233);;
    grid-column: 1/7;
}

.b{
    grid-column: 1/2;
}

.c{
    grid-column: 2/6;
}

.d{
    grid-column: 6/6;
}

.e{
   grid-column: 1/7;
}

.img-main{
    width:325px;
    height:300px;
}

.paga{
    background-color: #f5f2f2;
}

/*  MENU */

nav li{

    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 40px;
    margin-top: -10px;
}

nav li a:hover{
    background: rgb(205, 199, 199);
    align-items: center;
}

.menu ul{
    padding: 0%;
}

.menu ul ul{
    display: none;
    padding-top: 10px;
}

.menu ul li:hover>ul{
     display:block;
     position:fixed;
     margin:-40px;
     margin-top: -4px;
     color: #000000;
}
   
.menu{
    position: absolute;
    top: 5%;
    right: 30%;
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s ease-in-out ;
}

.a p{
    bottom: 0;
    width: 100%;
    text-align: center;
}
   
/* FIM DO MENU */

/* CAIXA DE PESQUISA*/

.divBusca{
    background-color:#E0EEEE;
    border:solid 2px #0e0b0b;
    border-radius:10px;
    width:29%;
    height:32px;
  }
  
.textoBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:77.5%;
}
  
.botaoBusca{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:20%;
    font-weight:bold;
    background:#a49797;
}

/* FIM CAIXA PESQUISA */
  
  /* FOOTER */

.dep{
    float: left;
}

.le{
    float: left;
    margin-left: 50px;
}

.contato{
    float: left;
    margin-left:50px;
}

.icone{
    float: right;
    margin-right: 50px;
}

.paga{
    margin-top: 200px;
}

/* FIM FOOTER */

a:link {
    color: rgb(15, 16, 15);
    text-decoration:none;
}
  
a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

@media(max-width:1300px){
.container .img-banner{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 900px;
    }
}

@media(max-width:1000px){
    .container .img-banner{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 600px;
    }
}

@media(max-width:950px){
.container .img-banner{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 350px;
        margin-top: 100px;
    }
}

@media(max-width:700px){
    .container .texto .menu .img-whats{
        display: flex;
        flex-direction: column;
        gap: 2px;
        width: 50px;
    }
}

.img-banner{
    width: 980px;
    height: 300px;
}

.img-whats{
    width:200px;
    height:600px;
}

@media(max-width:700px){
    .container .img-whats{
        display: flex;
        flex-direction: column;
        width: 50px;
    }
}

@media(max-width:700px){
    .container .menu{
        display: flex;
        flex-direction: column;
        width: 50px;
    }
}